<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <table>
        <tr>
            <th>NAME</th>
            <th>EMPLOYER</th>
            <th>LOCATION</th>
            <th>POSITION TYPE</th>
            <th>SKILL</th>
        </tr>
        <tr>
            <td th:text="${job.name}"></td>
            <td th:text="${job.employer}"></td>
            <td th:text="${job.location}"></td>
            <td th:text="${job.positionType}"></td>
            <td th:text="${job.coreCompetency}"></td>
        </tr>
    </table>

</div>

</body>
</html>